<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eleetas.nfc.nfcproxy"
    android:versionCode="1"
    android:versionName="1.2.1" >

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>
	<uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   	<uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:allowBackup="false"
        >
        <meta-data android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <service
            android:name=".MyHostApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>

        <activity
            android:name="org.eleetas.nfc.nfcproxy.SelectorActivity"
            android:label="@string/app_name" 
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--
            <intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
				<data android:mimeType="*/*" />
				  <category android:name="android.intent.category.DEFAULT"/>				
    		</intent-filter>
            <intent-filter>
				<action android:name="android.nfc.action.ACTION_TECH_DISCOVERED"/>
				  <category android:name="android.intent.category.DEFAULT"/>				
    		</intent-filter>
            <intent-filter>
				<action android:name="android.nfc.action.TAG_DISCOVERED"/>
				  <category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			-->

            <!-- NFC-related intent filter. Allows application to handle messages from any
     NFC-A devices discovered. Other Android devices are required to support NFC-A.
     See: res/xml/nfc_tech_filter.xml -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name="org.eleetas.nfc.nfcproxy.NFCProxyActivity" android:label="@string/nfcproxy" android:launchMode="singleInstance"/>
        <activity android:name="org.eleetas.nfc.nfcproxy.NFCRelayActivity" android:label="@string/nfcrelay" android:launchMode="singleInstance"/>
        <activity android:name="org.eleetas.nfc.nfcproxy.SettingsActivity" android:label="@string/settings"/>
        <activity android:name="org.eleetas.nfc.nfcproxy.SettingsActivityCompat" android:label="@string/settings"/>
        
    </application>

</manifest>